.Avatar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}

.Avatar li {
  list-style: none;
  width: 20%;
  display: flex;
  justify-content: center;
}

.Avatar img {
  width: 75px;
}

.Avatar .selected {
  border: 3px solid gold;
  box-sizing: border-box;
}
