.EasyThree {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .EasyThree {
    flex-direction: row;
  }
}
