.EasyOne {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .EasyOne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
