.EasyThree .hp {
  height: 20px;
  border: 1px solid white;
}

.EasyThree .full {
  background-color: green;
}

.EasyThree .two-thirds {
  background-color: yellow;
}

.EasyThree .one-thirds {
  background-color: red;
}
