.HardOne {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.HardOne #question-mark {
  color: #feca1b;
  font-size: 48px;
  position: absolute;
  top: 25px;
  right: 25px;
}

.HardOne h2 {
  line-height: 1.5;
}

.HardOne h3 {
  color: #feca1b;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .HardOne {
    flex-direction: row;
  }
}
