.HardOne {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.HardOne .image-container {
  width: 400px;
}

.HardOne #who {
  width: 400px;
}

@media only screen and (min-width: 768px) {
  .HardOne {
    flex-direction: row;
    
  }
}
