.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.Header img {
  width: 100vw;
}

.Header h1 {
  color: #feca1b;
  /* font-size: 48px; */
}
