.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header .logo {
  width: 250px;
}

.Header .gotta-catch-em-all {
  margin: 25px;
  color: #feca1b;
  font-size: 8px;
  text-align: center;
}

.Header .fa-volume-high,
.fa-volume-xmark {
  position: fixed;
  top: 25px;
  right: 23px;
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
  .Header .logo {
    width: 500px;
  }

  .Header .gotta-catch-em-all {
    font-size: 16px;
  }
} ;
