.LeaderBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LeaderBoard .titles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.LeaderBoard .leaderboard-ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.LeaderBoard .leaderboard-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LeaderBoard .leaderboard-li-img {
  height: 48px;
  margin: 5px;
}

.LeaderBoard .leaderboard-player {
  width: 200px;
}

.LeaderBoard .leaderboard-score {
  width: 75px;
}

.LeaderBoard .rival-profile {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3761a8;
  z-index: 1;
}

.LeaderBoard .rival-avatar {
  height: 100px;
  margin-bottom: 25px;
}

.LeaderBoard .rival-profile-ul {
  width: 960px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.LeaderBoard .rival-profile-li {
  list-style: none;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.LeaderBoard .rival-profile-img {
  height: 96px;
}
