.LeaderBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.LeaderBoard h2,
button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.LeaderBoard table {
  width: 100%;
}

.LeaderBoard tbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.LeaderBoard tr {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LeaderBoard .player-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LeaderBoard .player-img {
  padding-right: 10px;
}

.LeaderBoard .player-name,
.score-num,
.caught-num {
  text-align: center;
}

.LeaderBoard .rival-profile {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3761a8;
  z-index: 1;
}

.LeaderBoard .rival-avatar {
  height: 100px;
  margin-bottom: 25px;
}

.LeaderBoard .rival-profile-ul {
  width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.LeaderBoard .rival-profile-li {
  list-style: none;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.LeaderBoard .rival-profile-img {
  height: 96px;
}
