.LeaderBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LeaderBoard table {
  width: 100%;
}

.LeaderBoard tbody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.LeaderBoard .headers {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.LeaderBoard tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.LeaderBoard .player {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.LeaderBoard .player-profile:hover {
  cursor: pointer;
}

.LeaderBoard .player-img {
  width: 45px;
  position: relative;
  left: 0;
}

.LeaderBoard .player-name {
  font-size: 16px;
}

.LeaderBoard .score-num,
.caught-num {
  width: 50px;
  text-align: right;
  margin-left: 15px;
}

.LeaderBoard .rival-profile {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3761a8;
  z-index: 1;
}

.LeaderBoard .rival-avatar {
  height: 75px;
  margin-bottom: 25px;
}

.LeaderBoard .rival-profile-ul {
  width: 75vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.LeaderBoard .rival-profile-li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.LeaderBoard .rival-profile-li p {
  font-size: 8px;
}
