.MeetTheTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.MeetTheTeam h2 {
  color: #3761a8;
}

.MeetTheTeam .team {
  width: 90vw;
  font-size: 10px;
}

.MeetTheTeam .card img {
  height: 200px;
  padding: 10px;
  cursor: pointer;
}

.MeetTheTeam .dev {
  margin: 5px;
  padding: 5px;
}

.MeetTheTeam .dev img {
  height: 100px;
  padding: 10px;
  cursor: pointer;
}

.MeetTheTeam p {
  padding: 5px;
  color: #feca1b;
}

.MeetTheTeam .fa-brands {
  padding: 5px;
  font-size: 32px;
}

.MeetTheTeam .thanks {
  width: 50vw;
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
  .MeetTheTeam .team,
  .thanks {
    display: flex;
    justify-content: space-between;
  }

  .MeetTheTeam .team p,
  .thanks p {
    font-size: 12px;
  }

  .MeetTheTeam .card img {
    height: 200px;
  }

  .MeetTheTeam .dev {
    flex: 1;
    border: 1px solid #3761a8;
  }

  .MeetTheTeam .dev img {
    height: 200px;
  }

  .MeetTheTeam .moe,
  .duy,
  .marissa,
  .laurie,
  .andrea,
  .jeff {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
