.Signup {
  width: 75vw;
}

.Signup .signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Signup #username {
  display: inline;
  height: 25px;
  width: 245px;
  margin: 5px;
  padding: 5px;
  font-size: 16px;
  border-radius: 15px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .Signup #username {
    width: 395px;
    font-size: 20px;
  }
} ;
