.App {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
}

.App h2 {
  margin-bottom: 25px;
}

.App .hp-container {
  width: 200px;
}

.App .hp {
  height: 20px;
  border: 1px solid white;
  text-align: center;
}

.App .full {
  background-color: green;
}

.App .two-thirds {
  background-color: gold;
}

.App .one-thirds {
  background-color: red;
}

.App .image-container {
  height: 100px;
  width: 175px;
}
.App .effect {
  color: #3761a8;
}

.App .question-container {
  display: flex;
  flex-direction: column;
}

.App form {
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.App .username-input {
  width: 360px;
  margin: 5px;
  padding: 15px;
  font-size: larger;
  font-weight: bolder;
  border-radius: 15px;
}

.App select {
  width: 400px;
  margin: 5px;
  padding: 15px;
  font-size: larger;
  font-weight: bolder;
  border-radius: 15px;
}

.App button {
  width: 400px;
  margin: 10px;
  padding: 20px;
  background-color: #feca1b;
  color: #3761a8;
  font-size: larger;
  font-weight: bolder;
  border-radius: 15px;
}

.App button:hover {
  cursor: pointer;
}
