.App {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.App h2 {
  margin: 25px 0;
}

.App .hp-container {
  width: 200px;
  margin: 10px;
  border: 1px solid white;
}

.App .hp {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .full {
  background-color: green;
}

.App .two-thirds {
  background-color: gold;
}

.App .one-thirds {
  background-color: red;
}

.App .effect {
  color: #3761a8;
  font-size: 20px;
}

.App .image-container {
  height: 200px;
  width: 200px;
  margin: 10px;
  display: flex;
  position: relative;
}

.App #player {
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.App #pokemon {
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

.App .difficulty-form {
  display: flex;
  flex-direction: column;
}

.App .question-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .answer-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.App .answer {
  display: flex;
}

.App .username-input {
  width: 400px;
  margin: 5px;
  padding: 15px;
  font-size: 24px;
  border-radius: 15px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

.App select {
  width: 400px;
  margin: 5px;
  padding: 15px;
  font-size: 24px;
  border-radius: 15px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

.App button {
  width: 400px;
  margin: 10px;
  padding: 20px;
  background-color: #feca1b;
  color: #3761a8;
  font-size: 24px;
  border-radius: 15px;
  font-family: "Press Start 2P", cursive;
}

.App button:hover {
  cursor: pointer;
}

.App a,
a:visited {
  text-decoration: none;
  color: #3761a8;
}
